*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myfont', sans-serif;
}
@font-face {
    font-family: 'myfont';
    src: url('assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* overflow: hidden; */
}

.center{
    text-align: center;
}
article h1{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}
p{
    color: #e2dfe5a3;
    font-weight: 700;
}
article{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;  
}
.icon{
    background-color: #e1d0f118;
    border-radius: 10px;
    --webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    padding: 0.5em;
}

body { 
    font-family: 'myfont', sans-serif;
    width: 90%;
    margin: 0 auto;
    background-image: url(assets/images/background-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 1em;

}

#dropContainer {
    width: 100%;
    height: 8em;
    border: 2px dashed #e1d0f17b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1d0f118;
    --webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    margin-top: 1em;

    color: #333;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
#dropContainer img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* #dropContainer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

#dropContainer input[type="file"] {
    display: none;
} */
.pattern-container{
    position: relative;
}
.pattern{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.top-right{
    top: 0.8em;
    right: 0;
    width: 7em;
}
.bottom-left{
    bottom: -7em;
    left: 0;
}
.upload-p{
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 1em;
}
.form-group-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap:0.51em;
    
}
input{
    width: 100%;  
    height: 3.5em;
    padding: 1em;
    outline: none;
    border: 1px solid #e1d0f17b;
    border-radius: 5px;
    background-color: #e1d0f118;
    color: #fff;
}
input::placeholder {
    color: #e2dfe5a3;
    font-family: 'myfont', sans-serif;
    font-weight: 500;
}
button{
    padding: 1em;
    border-radius: 5px;
    border: none;
    background-color: #fa8a7b;
    font-size: 1em;
    font-weight: 600;
    color: #260367;
    cursor: pointer;
    
}
button:hover{
    background-color: transparent;
    border: 1px solid #fa8a7b;
    color: #fff;
}
.submitted{
    background-color: red;
}
.text-gradient{
    background: linear-gradient(to right, #fa8a7b, #fff);
    background-clip: text;
    color: transparent;
}
main{
    position: relative;
    /* display: flex;
    flex-direction: column; */
 
}
.container {
    position: absolute;
    top: 2em;
    left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#ticket-details{
    
}
#ticket-details img{
    border-radius: 10px;
    
}
#userinfo{
    display: flex;
    gap: 1em;
    margin-top: 1em;
}