*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'myfont';
    src: url('assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* overflow: hidden; */
}

body { 
    font-family: 'myfont', sans-serif;
    width: 90%;
    margin: 0 auto;
    background-image: url(assets/images/background-mobile.png);
    background-position: center;
    background-size: 100vh;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 1em;

}

#dropContainer {
    width: 100%;
    height: 10em;
    border: 2px dashed #e1d0f17b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1d0f118;
    backdrop-filter: blur(3px);

    color: #333;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
#dropContainer img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* #dropContainer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

#dropContainer input[type="file"] {
    display: none;
} */
.pattern-container{
    position: relative;
}
.pattern{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.top-right{
    top: 1em;
    right: 0;
    width: 10em;
    /* background-color: red; */
}
.bottom-left{
    bottom: -5em;
    left: 0;
}